.delete-btn{
    background: rgb(233, 82, 82);
    color:#fff;
    border: 0;
    padding:4px 10px;
    border-radius: 3px;
}
.table-container{
 left:20vw;
 top:20vh;

 position: absolute;
 width: 90%;
}
#table{
    overflow-x: scroll;
    
}
th{
    background-color: rgb(33, 168, 252);
    color:white;
    text-align: center;
    padding: 10px;
    align-content: center;
    align-items: center;
    vertical-align: middle;
    border-right: 2px solid white;
}
td{
    font-family: cursive;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    align-content: center;
    border-right: 1px solid black;
}
tbody{
    border:1px solid rgb(53, 146, 203);
}
tr:hover{
    font-weight: bold;
    font-size: medium;
}
.edit{
  background-color: #199319;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-align: center;
  position: relative;
  margin-bottom: -10vh;
}
.delete{
    text-align: center;
    position: fixed;
}
.search{
    
    margin-top: 2vh;
    scroll-behavior: inherit;
    
    margin-top: 10vh;
    margin-left: 25vw;
    height: 4.9vh;
}
.search input{
  height: 4.9vh;
  margin: 0px;
}

#my-data{
    align-items: center;
}
.searchButton {
    width: 40px;
    height: 4.9vh;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    
    margin-left: -0.3vw;
  }